@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Noto Sans Lao', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}